extends layout

block content
  
  h1= movieTitle
  img(class="expand",src="#{thumbnail}")
  //-  span by #{author.user}
  each format in formats
    div(class="format-item") 
     a(href="/tytubka/download?url="+url+"&format="+format.Itag+"&title="+movieTitle) 
      span #{format.Resolution} #{format.Extension} #{format.AudioBitrate} kbs
        
