doctype html
html
  head
    title= title
    link(rel='stylesheet', href=MOUNT_PATH+"/stylesheets/style.css")
  body
    nav 
      a(href=MOUNT_PATH+"/",class="button") Home 
      a(href=MOUNT_PATH+"/list",class="button") Downloaded 
    div(class="inprogress")
     each video in __downloading
      div(class="row")
       a(href=MOUNT_PATH+"/cancel/"+video.id, class="delete") X 
       span(class="video-title") #{video.title} 
       span(class="percent") #{video.progressPercent||0}&nbsp;% 
   
    block content
