extends layout

block content
  a(href="/tytubka/") Home 
  a(href="/tytubka/list") Downloaded 
  div(class="file-list")
   each file in fileList
   
     //- span=JSON.stringify(file)
     div(class="row")
        a(href="/tytubka/sendfile/"+file.id) 
         img(src=file.thumbnail_url)
        div(class="details")
            a(href="/tytubka/sendfile/"+file.id, class="video-title") #{file.title}
            span by #{file.author.user} downloaded #{new Date(file.timestamp)}
            span size: #{file.size} extension: #{file.formatData.Extension}
            span length: #{file.length} resolution: #{file.formatData.Resolution} audio bitrate: #{file.formatData.AudioBitrate} kbps


//  h1= movieTitle
  
  
// img(src="#{thumbnail}")
//  each val in formats
   li #{val[0]} 
    a(href="/tytubka/download?url="+url+"&format="+val[0]+"&title="+movieTitle)= val[1]
        